      <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 text-muted">Linenet administrator Zeeman</div>
    <div class="col-lg-4 col-md-9 col-sm-8 hidden-xs img-group pull-left">
    Support
    <img src="images/icon/broswer/medium_firefox.png" style="margin-top: -16px">
    <img src="images/icon/broswer/medium_chrome.png" style="margin-top: -16px;">
    <img src="images/icon/broswer/medium_edge.png" style="margin-top: -16px">
    <img src="images/icon/broswer/medium_opera.png" style="margin-top: -16px">
    </div>
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs">test</div>
  </div>
        
      </div>
