      <div class="container" id="footer">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 text-muted">Linenet administrator Zeeman</div>
    <div class="col-lg-4 col-md-9 col-sm-8 hidden-xs img-group pull-left">

<div class="medium-chrome" style="margin-top: -16px"></div>
<div class="medium-edge" style="margin-top: -16px"></div>
<div class="medium-firefox" style="margin-top: -16px"></div>
<div class="medium-opera" style="margin-top: -16px"></div>
    </div>
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs"></div>
  </div>
        
      </div>
