    <meta http-equiv="Content-Type" content="text/html; charset=big5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="person web site">
    <meta name="keywords" content="zeeman">
    <meta name="author" content="zeemanliao">
    <link rel="icon" href="/images/medium_logo.png">

    <title><%=locals.config.site.title%></title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/bootstrap-social.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/ie-emulation-modes-warning.js"></script>
