<!DOCTYPE html>
<html lang="<%- config.lang%>">
<head>
    <% include ../partials/head %>
    <script data-main="javascripts/epa" src="javascripts/requirejs.js"></script>

</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <!-- Begin page content -->
    <div class="container">
  <h3>空污</h3>
 <div class="panel-group" id="accordion">

</div>
</div>
       <!-- /container -->
    <footer class="footer">
        <% include ../partials/footer %>
    </footer>
</body>
</html>