<!DOCTYPE html>
<html lang="<%- config.lang%>">

<head>
    <title>Hero</title>
    <% include ../partials/head %>
        <link href="stylesheets/game.css" rel="stylesheet">
        <script data-main="javascripts/game.js" src="javascripts/requirejs.js"></script>
</head>

<body>
    <h3></h3>
    <token data="<%= token%>"></token>
    <label></label>
    <div>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test2</button>
    </div>
    <div class="world-map">
        <button class="btn btn-default" city="A">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
    </div>
</body>

</html>
