<!DOCTYPE html>
<html lang="<%- config.lang%>">

<head>
    <title>Hero</title>
    <meta http-equiv="Content-Type" content="text/html; charset=big5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="person web site">
    <meta name="keywords" content="zeeman">
    <meta name="author" content="zeemanliao">
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/game.css" rel="stylesheet">
    <script data-main="javascripts/game" src="javascripts/requirejs.js"></script>
</head>

<body>
    <label></label>
    <div>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test2</button>
    </div>
    <div class="world-map">
        <button class="btn btn-default" city="A">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
        <button class="btn btn-primary">Test</button>
        <button class="btn btn-primary">Test2</button>
    </div>
</body>

</html>
