<!DOCTYPE html>
<html lang="<%- config.lang%>">
<head>
    <% include ../partials/head %>
    <link href="stylesheets/chat.css" rel="stylesheet">
    <script data-main="javascripts/chat" src="javascripts/requirejs.js"></script>
</head>
<body>

    <header>
        <% include ../partials/header %>
        
    </header>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header hidden-xs">
        <h4>開發中...</h4>
      </div>
    </div>
       <!-- /container -->
    <footer class="footer">
        <% include ../partials/footer %>
    </footer>

</body>
</html>