<!DOCTYPE html>
<html lang="<%- config.lang%>">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>

<div class="panel panel-primary">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
</div>
       <!-- /container -->
    <footer class="footer">
        <% include ../partials/footer %>
    </footer>
<% include ../partials/javascript %>
</body>
</html>