
<!-- login user -->
          
  <div class="collapse navbar-collapse" id="user-frame">
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
<img class="dropdown-toggle img-rounded" data-toggle="dropdown" alt="<%=user.name%>" id="user-photo" src="<%=user.photo%>">                  
<%=user.name%>
              <ul class="dropdown-menu">
              <!--
                  <li>
                      <div class="navbar-login">

                      </div>
                  </li>
                  <li class="divider"></li>
              -->
                  <li>
               <div class="col-lg-12">
                                  <p>
                                      <a href="/auth/logout" class="btn btn-danger btn-block">登 出</a>
                                  </p>
                              </div>

                  </li>
              </ul>
          </li>
      </ul>
  </div>
<!-- login user -->