<!-- sign in -->
<div id="login-frame">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
 
                <div class="btn-group-vertical">
<a href="/auth/facebook" class="btn btn-lg btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span>Facebook
  </a>
<a href="/auth/google" class="btn btn-lg btn-block btn-social btn-google">
    <span class="fa fa-google"></span>Google
  </a>
<a href="/auth/github" class="btn btn-lg btn-block btn-social btn-github">
    <span class="fa fa-github"></span>GitHub
  </a>
<a href="/auth/twitter" class="btn btn-lg btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span>Twitter
  </a>
                </div>
              </div>
              <div class="bottom text-center">
              　
              </div>
           </div>
        </li>
      </ul>
      </li>
      </ul>
</div>
<!-- sign in -->